%ul
  %li
    - if @rabbit.have_next?
      %a(href="/pages/next")
        .navi=_("Next")
    - else
      .navi=_("Next")
  %li
    - if @rabbit.have_previous?
      %a(href="/pages/previous")
        .navi=_("Previous")
    - else
      .navi=_("Previous")
