!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" type="text/css" media="all" href="/stylesheets/rabbirack.css")
    %title
      =slide_title
  %body
    =yield
